@import "/src/mixins.scss";

.hero-banner {
    height: 450px;
    color: white;
    overflow-y: hidden;
    text-align: center;
    position: relative;

    @include md {
        height: 700px;
    }

    .opacity-layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    }

    .backdrop-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: .5;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .wrapper {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        z-index: 10;
        max-width: 800px;
        margin: 0 auto;
        padding-inline: 5%;
    }

    h1 {
        font-size: 5rem;
        font-weight: 600;
        padding-bottom: 1rem;

        @include md {
            font-size: 9rem;
        }
    }

    h4 {
        font-weight: 500;
        padding-bottom: 1rem;
        font-size: 1.8rem;

        @include md {
            font-size: 2.4rem;
        }
    }

    .search-box {
        background-color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 4rem;

        @include md {
            height: 6rem;
        }

        input {
            display: inline-block;
            flex: 1;
            padding: .5rem 1rem;
            border: none;
            font-size: 1.5rem;

            @include md {
                font-size: 2rem;
                padding: .5rem 2rem;
            }


            &::placeholder {
                color: var(--light-gray);
                font-weight: 500;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            background: var(--gradient);
            color: white;
            border: none;
            outline: none;
            display: inline-block;
            height: 100%;
            font-size: 1.5rem;
            padding: 10px 20px;

            &:hover{
                cursor: pointer;
                transition: .3s;
                opacity: .8;
            }

            @include md {
                font-size: 2rem;
            }
        }
    }
}